*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #e1e1e6;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid #7fff00;
  font-size: 1.5rem;
  width: 500px;
  height: 500px;
  position: relative;
}

.radius {
  width: 40px;
  height: 40px;
}

#top-left, #top-right, #bottom-left, #bottom-right {
  position: absolute;
}

#top-left {
  top: 10%;
  left: 10%;
}

#top-right {
  top: 10%;
  right: 10%;
}

#bottom-left {
  bottom: 10%;
  left: 10%;
}

#bottom-right {
  bottom: 10%;
  right: 10%;
}